body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(236, 233, 233, 0.897);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sideBar {
  display: flex;
  flex-direction: column;
  grid-area: categoria;
  /* gap: 2px 1px; */
  width: 250px;
}


.label-input, header {
  display: flex;
  justify-content: center;
  background-color: #4e94aa;
  color: white;
}

.label-input {
  display: grid;
  grid: "vazio search btn car"
  / 1fr 2fr 1fr 1fr
}

.cardItems-sideBar {
  display: grid;
  grid: "categoria produtos"
  / 1fr 3fr

}

.notFound {
  display: flex;
  justify-content: center;
  grid-area: produtos;
}

.div-card, .card-carrinho {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(109, 91, 91, 0);
  border-radius: 5%;
  background-color: white;
  /* height: 300px; */
  width: 200px;
}

.img-card {
  height: 100px;
  width: 100px;
}

.cardItems {
  display: flex;

}

.div-mae-card, .div-mae-card-carrinho {
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.div-mae-card {
  grid-area: produtos;
}

.div-load {
  display: flex;
  justify-self: center;
  padding-top: 20%;
  grid-area: produtos;
}

.div-add-sub {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.add, .sub {
  border: 0ch;
  /* border-radius: 50%; */
  background: #2e79a500;
  color: black;
  font-size: 20px;
  height: 50px;
}

.remove {
  border: 0ch;
  border-radius: 10px;
  background: #d1191991;
  color: white;
  bottom: 1px;
  height: 25px;
}

.add-Carrinho, .finalizar {
  border: 0ch;
  border-radius: 10px;
  box-shadow: none;
  background: #1495bd;
  color: white;
  margin-bottom: 2px;
  height: 30px;
}

.sideBar-btn {
  transition: all .5s ease;
  color: #fff;
  border: 3px solid #4e95aa00;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 15px;
  background-color : #4e94aa;
  padding: 10px;
  outline: none;
  /* border-radius: 4px; */
  width: 100%;
}
.sideBar-btn:hover {
  color: black;
  background-color: #fff;
}

.search-input {
  border: 0ch;
  border-radius: 10px;
  grid-area: search;
  height: 30px;
}

.search-btn {
  background: #0c329c;
  border: 0ch;
  border-radius: 10px;
  color: white;
  grid-area: btn;
  width: 80%;
}

.link-card {
  display: flex;
  justify-content: center;
  grid-area: car;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.link-back-card {
  color: rgb(0, 0, 0);
  font-size: 20px;
}
